.best {
  padding: 48px 0 100px;
  background: rgb(255, 255, 255);

  @include small-tablet {
    display: flex;
    align-items: center;
    padding: 40px 0 40px;
  }

  &__title {
    margin-bottom: 48px;

    @include small-tablet {
      text-align: center;
    }

    @include mobile {
      margin-bottom: 16px;
      font-size: 34px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 24px;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 14px 8px;
    }
  }
}
