@mixin before_circle {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 10%;
    left: -10px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
  }
}
