@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Space Grotesk", sans-serif;
  --content-width: 1125px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1320px;
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
  --blue: #377dff;
  --green: #38cb89;
  --yellow: #ffab00;
  --red: #ff5630;
  --brand-color: #000;
  --radial-bg: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --linear-bg: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

body {
  background: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  text-align: left;
}
@media (max-width: 1024px) {
  .title {
    font-size: 34px;
    width: 265px;
  }
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-offset));
}
@media (max-width: 1199px) {
  .container-right {
    padding-left: var(--container-offset);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-offset));
}
@media (max-width: 1199px) {
  .container-left {
    padding-right: var(--container-offset);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  cursor: pointer;
  display: none;
  z-index: 15;
  top: 5px;
  --burger-height: 12px;
  --burger-width: 20px;
  color: #000;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #6C7275;
  width: 18px;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #6C7275;
  width: 18px;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .burger {
    display: block;
  }
}
.burger:focus {
  outline: none;
}
.burger:hover {
  color: #000;
}
.burger:active {
  color: #e00e00;
}
.burger:focus-visible {
  outline: 1px solid #000;
  outline-offset: 3px;
}

.btn {
  padding: 11px 56px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  text-align: center;
}

.btn--dark {
  border: 1px solid rgb(20, 23, 24);
  border-radius: 8px;
  background: rgb(20, 23, 24);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn--dark:focus {
  outline: none;
}
.btn--dark:hover {
  color: rgb(20, 23, 24);
  background: none;
}
.btn--dark:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  background: none;
}
.btn--dark:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 3px;
}

.btn--light {
  color: rgb(61, 48, 23);
  border: 1px solid rgb(61, 48, 23);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn--light:focus {
  outline: none;
}
.btn--light:hover {
  background: rgb(61, 48, 23);
  color: #fff;
}
.btn--light:active {
  background: rgba(61, 48, 23, 0.7);
}
.btn--light:focus-visible {
  outline: 1px solid rgb(61, 48, 23);
  outline-offset: 3px;
}

.nav-mobile {
  display: none;
}
@media (max-width: 576px) {
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 24px 24px 24px 24px;
    width: 100%;
    max-width: 343px;
    height: 794px;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .nav-mobile .nav-mobile__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
  }
  .nav-mobile .nav-mobile__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-mobile .nav-mobile__label {
    width: 100%;
    padding: 8px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(108, 114, 117);
    border-radius: 6px;
    background: rgb(255, 255, 255);
  }
  .nav-mobile .nav-mobile__input {
    outline: none;
  }
  .nav-mobile .nav-mobile__input::-webkit-input-placeholder {
    color: rgb(108, 114, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .nav-mobile .nav-mobile__input::-moz-placeholder {
    color: rgb(108, 114, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .nav-mobile .nav-mobile__input:-ms-input-placeholder {
    color: rgb(108, 114, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .nav-mobile .nav-mobile__input::-ms-input-placeholder {
    color: rgb(108, 114, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .nav-mobile .nav-mobile__input::placeholder {
    color: rgb(108, 114, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .nav-mobile .nav-mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .nav-mobile__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-mobile .nav-mobile__link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: rgb(20, 23, 24);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(232, 236, 239);
  }
}
.nav-mobile .nav-mobile__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 19px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.nav-mobile .basket__link,
.nav-mobile .like__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(232, 236, 239);
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  text-align: left;
}
.nav-mobile .nav-mobile__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}
.nav-mobile .nav-mobile__cart-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(255, 171, 0);
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgb(20, 23, 24);
}
.nav-mobile .nav-mobile__btn {
  width: 100%;
  margin-bottom: 22px;
}
.nav-mobile .nav-mobile__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
.nav-mobile .nav-mobile__socials-link {
  color: rgb(20, 23, 24);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.nav-mobile .nav-mobile__socials-link svg {
  display: block;
  width: 26px;
  height: 26px;
  color: inherit;
  stroke: currentColor;
  fill: rgb(255, 255, 255);
  -o-object-fit: cover;
  object-fit: cover;
}
.nav-mobile .nav-mobile__socials-link:hover {
  color: gold;
}

.nav-mobile.menu--active {
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.burger--active {
  position: absolute;
  top: 30px;
  left: 305px;
}

.header-top {
  position: relative;
  padding: 8px 17px;
  background: rgb(20, 23, 24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
}
.header-top__container p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
@media (max-width: 576px) {
  .header-top__container p {
    font-size: 12px;
  }
}
.header-top__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  color: rgb(255, 171, 0);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 576px) {
  .header-top__link {
    display: none;
  }
}
.header-top__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 1px;
  background-color: rgb(255, 171, 0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.header-top__link:hover::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.header-top__close {
  color: #343839;
  padding-right: 15px;
}
.header-top__close svg {
  display: block;
  width: 19px;
  height: 19px;
  color: inherit;
  fill: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.header-top__close:hover {
  color: rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top__close {
    color: rgb(255, 255, 255);
  }
  .header-top__close:hover {
    color: gold;
  }
}

.header-bottom {
  padding: 16px 0px;
  background: rgba(255, 171, 0, 0.64);
}
@media (max-width: 576px) {
  .header-bottom {
    padding: 16px 17px;
  }
}
.header-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header-bottom__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
.header-bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.header-bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
@media (max-width: 576px) {
  .header-bottom__info {
    display: none;
  }
}
.header-bottom__search, .header-bottom__person, .header-bottom__cart {
  color: #141718;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-bottom__search svg, .header-bottom__person svg, .header-bottom__cart svg {
  display: block;
  width: 24px;
  height: 24px;
  color: inherit;
  stroke: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.header-bottom__search:hover, .header-bottom__person:hover, .header-bottom__cart:hover {
  color: rgb(255, 255, 255);
}
.header-bottom__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.header-bottom__cart-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(255, 171, 0);
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgb(20, 23, 24);
}

@media (max-width: 576px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 36px;
}
@media (max-width: 768px) {
  .nav__list {
    gap: 14px;
  }
}
.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3px;
  font-family: Space Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgb(20, 23, 24);
}
.nav__link {
  position: relative;
  color: rgb(20, 23, 24);
  font-family: Space Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 1px;
  background-color: rgb(20, 23, 24);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
.nav__link:hover::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hero {
  position: relative;
  width: 100%;
  height: 820px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.18%, #ffc95c), color-stop(9.71%, rgba(255, 201, 92, 0))), url("./../img/baner-bg-2x.jpg");
  background: linear-gradient(180deg, #ffc95c 2.18%, rgba(255, 201, 92, 0) 9.71%), url("./../img/baner-bg-2x.jpg");
  background-position: 30% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2.18%, #ffc95c), color-stop(9.71%, rgba(255, 201, 92, 0))), url("./../img/baner-mobile.jpg");
    background: linear-gradient(180deg, #ffc95c 2.18%, rgba(255, 201, 92, 0) 9.71%), url("./../img/baner-mobile.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 576px) {
  .hero {
    height: 692px;
  }
}
.hero__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .hero__container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.hero__right {
  grid-column: 7/6 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .hero__right {
    padding-left: 32px;
    padding-right: 25px;
  }
}
@media (max-width: 768px) {
  .hero__right {
    max-width: 320px;
    padding-top: 40px;
  }
}
.hero__content {
  margin-top: -7px;
}
@media (max-width: 768px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.hero__title {
  color: rgb(18, 18, 18);
  font-family: Poppins;
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  text-align: left;
  margin-bottom: 8px;
}
.hero__title span {
  color: rgb(55, 125, 255);
}
@media (max-width: 1200px) {
  .hero__title {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }
}
.hero__text {
  color: rgb(18, 18, 18);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 28px;
}
@media (max-width: 1024px) {
  .hero__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .hero__text {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    font-size: 14px;
  }
}

.arrivals {
  padding: 48px 0;
  background: rgb(255, 255, 255);
  position: relative;
}
.arrivals__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
  padding-right: 10px;
}

.swiper-slide {
  width: 262px !important;
}
@media (max-width: 576px) {
  .swiper-slide {
    width: 231px !important;
  }
}

.card {
  max-width: 262px;
}
.card:hover .card__btn,
.card:hover .card__like {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.card__picture {
  position: relative;
  margin-bottom: 12px;
}
.card__new {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 14px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: rgb(18, 18, 18);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.card__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
  background: rgb(255, 255, 255);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.card__like svg {
  fill: #6c7275;
}
.card__like:hover {
  background: #cc2e2e;
}
.card__like:hover svg {
  fill: rgb(255, 255, 255);
}
.card__btn {
  max-width: 230px;
  padding: 8px 0;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2px;
  margin-bottom: 4px;
}
.card__title {
  color: rgb(20, 23, 24);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  margin-bottom: 4px;
}
.card__price {
  color: rgb(18, 18, 18);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

.swiper-pagination {
  position: static !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(108, 114, 117);
}

.swiper-pagination-bullet-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: 1px solid #141718;
  background: none;
}
.swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(108, 114, 117);
}

.collection {
  padding: 48px 0 0;
  background: rgb(255, 255, 255);
}
@media (max-width: 576px) {
  .collection {
    padding: 40px;
  }
}
.collection__title {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .collection__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .collection__title {
    margin-bottom: 16px;
  }
}
.collection__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 768px) {
  .collection__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
  }
}
.collection__item--tall {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.collection__item {
  position: relative;
  background-color: 243, 245, 247;
}
@media (max-width: 576px) {
  .collection__item {
    min-width: 311px;
    min-height: 180px;
  }
}
.collection__content {
  position: absolute;
  bottom: 40px;
  left: 32px;
  right: 32px;
}
@media (max-width: 1024px) {
  .collection__content {
    bottom: 32px;
  }
}
.collection__subtitle {
  color: rgb(18, 18, 18);
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px;
  text-align: left;
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .collection__subtitle {
    font-size: 28px;
    line-height: 15px;
  }
}
.collection__link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  max-width: 98px;
  color: rgb(18, 18, 18);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
  border-bottom: 1px solid rgb(18, 18, 18);
}
@media (max-width: 1024px) {
  .collection__link {
    font-size: 14px;
  }
}
.collection__link svg {
  display: block;
  width: 19px;
  height: 19px;
  color: inherit;
  stroke: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.collection__link:hover {
  color: rgb(255, 171, 0);
  border-bottom: 1px solid rgb(255, 171, 0);
}

.best {
  padding: 48px 0 100px;
  background: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .best {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0 40px;
  }
}
.best__title {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .best__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .best__title {
    margin-bottom: 16px;
    font-size: 34px;
  }
}
.best__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 24px;
}
@media (max-width: 768px) {
  .best__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 8px;
  }
}

.promotion {
  width: 100%;
  min-height: 532px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  background: rgba(255, 171, 0, 0.4);
}
@media (max-width: 768px) {
  .promotion {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.promotion__left {
  background-image: url("../img/promotion/promo@2x.jpg");
  background-position: 40% center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 532px;
}
@media (max-width: 576px) {
  .promotion__left {
    min-height: 376px;
  }
}
.promotion__right {
  padding-top: 100px;
  padding-left: 72px;
}
@media (max-width: 1024px) {
  .promotion__right {
    padding-top: 80px;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .promotion__right {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.promotion__title {
  color: rgb(55, 125, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.promotion__sale {
  color: rgb(18, 18, 18);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  text-align: left;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .promotion__sale {
    font-size: 32px;
  }
}
.promotion__text {
  color: rgb(18, 18, 18);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .promotion__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .promotion__text {
    font-size: 14px;
  }
}
.promotion__expires {
  color: rgb(20, 23, 24);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 12px;
}
.promotion__timer {
  display: -ms-grid;
  display: grid;
  gap: 12px;
  margin-bottom: 30px;
}
.promotion__btn {
  font-size: 14px;
}

.free {
  padding: 40px 0;
  background: rgb(255, 255, 255);
}
.free__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 768px) {
  .free__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .free__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 8px;
  }
}
.free__item {
  padding: 49px 32px;
  background: rgb(243, 245, 247);
}
@media (max-width: 576px) {
  .free__item {
    padding: 32px 16px;
  }
}

.value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.value__image {
  margin-bottom: 22px;
}
.value__title {
  color: rgb(20, 23, 24);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .value__title {
    font-size: 14px;
  }
}
.value__text {
  color: rgb(108, 114, 117);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.timer__value {
  width: 60px;
  height: 60px;
  background: rgb(254, 254, 254);
  color: rgb(20, 23, 24);
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.6px;
  text-align: center;
}
.timer__desck {
  color: rgb(20, 23, 24);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.join {
  height: 360px;
  background-color: rgb(226, 228, 227);
  background-image: url("./../img/join/01@2x.jpg");
  background-position: 50% top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .join {
    background-image: url("./../img/join/01.jpg");
  }
}
.join__container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .join__container {
    padding: 95px 0;
  }
}
.join__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 488px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .join__content {
    padding: 0 32px;
  }
}
.join__title {
  margin-bottom: 8px;
}
@media (max-width: 1024px) {
  .join__title {
    width: 350px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .join__title {
    width: 312px;
    font-size: 28px;
  }
}
.join__text {
  color: rgb(18, 18, 18);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .join__text {
    font-size: 14px;
  }
}
.join__form {
  padding-bottom: 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);
}
.join__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: rgb(226, 228, 227);
  outline: none;
}
@media (max-width: 768px) {
  .join__input {
    width: 100%;
  }
}
.join::-webkit-input-placeholder {
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.join::-moz-placeholder {
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.join:-ms-input-placeholder {
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.join::-ms-input-placeholder {
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.join::placeholder {
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.join__btn {
  color: rgb(108, 114, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}

.footer {
  padding: 80px 0 32px;
  background: rgb(20, 23, 24);
}
@media (max-width: 768px) {
  .footer {
    padding: 48px 0 48px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 49px;
  border-bottom: 0.5px solid rgb(108, 114, 117);
}
@media (max-width: 768px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }
}
.footer__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .footer__top-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__logo {
  padding-right: 32px;
}
@media (max-width: 576px) {
  .footer__logo {
    padding: 0;
    padding-bottom: 16px;
    text-align: center;
  }
}
.footer__store {
  padding-left: 32px;
  border-left: 1px solid rgb(108, 114, 117);
  color: rgb(232, 236, 239);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
@media (max-width: 576px) {
  .footer__store {
    padding: 0;
    padding-top: 16px;
    border-left: none;
    border-top: 1px solid rgb(108, 114, 117);
    text-align: center;
  }
}
.footer__bottom {
  padding-top: 23px;
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    padding: 32px 0;
  }
}
.footer__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 28px;
}
@media (max-width: 768px) {
  .footer__bottom-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.footer__copyright {
  color: rgb(232, 236, 239);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.footer__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.footer__policy, .footer__terms {
  color: rgb(254, 254, 254);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer__policy:hover, .footer__terms:hover {
  color: gold;
}
.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .footer .socials {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.footer .socials__link {
  color: rgb(254, 254, 254);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer .socials__link svg {
  display: block;
  width: 19px;
  height: 19px;
  color: inherit;
  stroke: currentColor;
  fill: rgb(20, 23, 24);
  -o-object-fit: cover;
  object-fit: cover;
}
.footer .socials__link:hover {
  color: gold;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 576px) {
  .footer-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
  }
}
.footer-nav__link {
  position: relative;
  color: rgb(254, 254, 254);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.footer-nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background-color: rgb(254, 254, 254);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
.footer-nav__link:hover::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.basket__container {
  padding-top: 20px;
  padding-bottom: 100px;
  background: rgb(255, 255, 255);
}
.basket__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 22px;
}
.basket__home {
  color: #343839;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.basket__home svg {
  display: block;
  width: 30px;
  height: 30px;
  color: inherit;
  fill: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.basket__home:hover {
  color: #ffc95c;
}
.basket__wrapper {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.card-section__container {
  padding-top: 20px;
  padding-bottom: 100px;
  background: rgb(255, 255, 255);
}
.card-section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 22px;
}
.card-section__home {
  color: #343839;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.card-section__home svg {
  display: block;
  width: 30px;
  height: 30px;
  color: inherit;
  fill: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-section__home:hover {
  color: #ffc95c;
}
.card-section__wrapper {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
/*# sourceMappingURL=main.css.map */