<section class="basket">
  <div class="container basket__container">
    <div class="basket__top">
      <a class="home basket__home" href="/">
        <svg width="35" height="35" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.98 1.984l7 6h-2.003v6H9.96V10.97H5.997v3.016H2.982v-6H.979l7-6z" ></path>
        </svg>
      </a>
    </div>
    <div class="wrapper basket__wrapper">
      <h1 class="basket__title title">Корзина</h1>
      <div class="basket__cart cart"></div>

      <a href="/basket.html" class="basket cart-btn header-bottom__cart">
        <div class="basket__inner">

        </div>
      </a>

      <button class="basket__count btn btn--dark">Оформить заказ</button>
    </div>
  </div>
</section>
