<section class="card-section">
  <div class="container card-section__container">
    <div class="card-section__top">
      <a class="home card-section__home" href="./">
        <svg width="35" height="35" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.98 1.984l7 6h-2.003v6H9.96V10.97H5.997v3.016H2.982v-6H.979l7-6z" ></path>
        </svg>
      </a>
    </div>
    <div class="wrapper card-section__wrapper">
      <h1 class="card-section__title title">Информация о товаре</h1>
      <div class="card-section__cart cart"></div>
      <button class="btn btn--dark">Оформить заказ</button>


    </div>
  </div>
</section>
