<section class="join" id="blog">
  <div class="container join__container">
    <div class="join__content">
      <h2 class="join__title title">
        Join Our Newsletter
      </h2>
      <p class="join__text">
        Sign up for deals, new products and promotions
      </p>

      <form action="#" class="join__form form">
          <img loading="lazy" src="./img/icon/email.svg" class="join__image" width="20" height="16" alt="">
          <input type="email" name="Email" class="input-reset join__input form__input" placeholder="Email address">
          <button type="submit" class="join__btn form__btn">Signup</button>
      </form>

    </div>
  </div>
</section>
