<section class="promotion">

    <div class="promotion__left">

    </div>
    <div class="promotion__right">
      <div class="container promotion__container">
        <h3 class="promotion__title">
          PROMOTION
        </h3>
        <p class="promotion__sale">
          Hurry up! 40% OFF
        </p>
        <p class="promotion__text">
          Thousands of high tech are waiting for you
        </p>
        <p class="promotion__expires">
          Offer expires in:
        </p>

        @include('./timer.html')

        <button class="promotion__btn btn btn--dark">
          Shop now
        </button>

      </div>
    </div>

</section>
