<div class="promotion__timer timer">
  <div class="timer__el">
    <div class="timer__value" id="days">
      02
    </div>
    <div class="timer__desck">
      Days
    </div>
  </div>
  <div class="timer__el">
    <div class="timer__value" id="hours">
      12
    </div>
    <div class="timer__desck">
      Hours
    </div>
  </div>
  <div class="timer__el">
    <div class="timer__value" id="minutes">
      45
    </div>
    <div class="timer__desck">
      Minutes
    </div>
  </div>
  <div class="timer__el">
    <div class="timer__value" id="seconds">
      05
    </div>
    <div class="timer__desck">
      Seconds
    </div>
  </div>
</div>
