html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

body {
  background: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

button {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

// .btn-reset {
//   border: none;
//   padding: 0;
//   background-color: transparent;
//   transition: all 0.4s ease-in-out;
//   cursor: pointer;
// }

.title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  text-align: left;

  @include tablet {
    font-size: 34px;
    width: 265px;
  }
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  // flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-offset)
	);

	@media (max-width: 1199px) {
		padding-left: var(--container-offset);
	}
}

.container-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-offset)
	);

	@media (max-width: 1199px) {
		padding-right: var(--container-offset);
	}
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
